[user]
	name = Kevin Wang
	email = javaperl@gmail.com
[core]
	excludesfile = /home/kwang/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/kwang/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[diff]
	tool = vimdiff3
[difftool "vimdiff3"]
	path = vim
[merge]
	tool = vimdiff3
